openapi: 3.2.0
info:
  title: ZivaHub Open Data (Figshare Public API) Collections API
  description: ZivaHub is the University of Cape Town's institutional open data repository, powered by Figshare for Institutions. Public ZivaHub content (articles, collections, and projects) is accessible programmatically through the public Figshare REST API v2. This OpenAPI description covers the unauthenticated, read-only public endpoints relevant to discovering and harvesting public research outputs. It is a faithful subset of the official Figshare OpenAPI 3.0.3 specification published at https://api.figshare.com/v2/swagger.json (info.version 2.0), restricted to the public paths and response objects.
  version: '2.0'
  contact:
    name: Figshare Support
    url: https://docs.figshare.com/
  license:
    name: Figshare API Terms
    url: https://figshare.com/terms
servers:
- url: https://api.figshare.com/v2
  description: Figshare public API v2
tags:
- name: collections
  description: Public collections
paths:
  /collections:
    get:
      tags:
      - collections
      summary: List public collections
      operationId: listCollections
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: institution
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of public collections.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
  /collections/{collection_id}:
    get:
      tags:
      - collections
      summary: Get a public collection
      operationId: getCollection
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
  schemas:
    Collection:
      type: object
      required:
      - id
      - title
      - doi
      - handle
      - url
      - timeline
      properties:
        id:
          type: integer
          example: 123
        title:
          type: string
          example: Sample collection
        doi:
          type: string
          example: 10.6084/m9.figshare.123
        handle:
          type: string
        url:
          type: string
          format: uri
          example: https://api.figshare.com/v2/collections/123
        timeline:
          $ref: '#/components/schemas/Timeline'
    ErrorMessage:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
    Timeline:
      type: object
      description: Publishing timeline for an item.
      properties:
        posted:
          type: string
          description: Date the item was posted.
          example: '2026-06-04T02:59:32'
        firstOnline:
          type: string
          description: Date the item first went online.
        revision:
          type: string
          description: Date of the last revision.
  parameters:
    page:
      name: page
      in: query
      description: Page number for pagination.
      schema:
        type: integer
        minimum: 1
    pageSize:
      name: page_size
      in: query
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
