openapi: 3.2.0
info:
  title: ZivaHub Open Data (Figshare Public API) Projects API
  description: ZivaHub is the University of Cape Town's institutional open data repository, powered by Figshare for Institutions. Public ZivaHub content (articles, collections, and projects) is accessible programmatically through the public Figshare REST API v2. This OpenAPI description covers the unauthenticated, read-only public endpoints relevant to discovering and harvesting public research outputs. It is a faithful subset of the official Figshare OpenAPI 3.0.3 specification published at https://api.figshare.com/v2/swagger.json (info.version 2.0), restricted to the public paths and response objects.
  version: '2.0'
  contact:
    name: Figshare Support
    url: https://docs.figshare.com/
  license:
    name: Figshare API Terms
    url: https://figshare.com/terms
servers:
- url: https://api.figshare.com/v2
  description: Figshare public API v2
tags:
- name: projects
  description: Public projects
paths:
  /projects:
    get:
      tags:
      - projects
      summary: List public projects
      operationId: listProjects
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of public projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
  /projects/{project_id}:
    get:
      tags:
      - projects
      summary: Get a public project
      operationId: getProject
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
  schemas:
    ErrorMessage:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
    Project:
      type: object
      required:
      - id
      - title
      - url
      - created_date
      - modified_date
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Sample project
        url:
          type: string
          format: uri
          example: https://api.figshare.com/v2/projects/1
        created_date:
          type: string
          example: '2017-05-16T14:52:54Z'
        modified_date:
          type: string
          example: '2017-05-16T14:52:54Z'
  parameters:
    page:
      name: page
      in: query
      description: Page number for pagination.
      schema:
        type: integer
        minimum: 1
    pageSize:
      name: page_size
      in: query
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
